*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    background: #475568;

}

.quotes{
    background: #ffffff;
    width: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px 0px rgba(0,0,0,0.15);
}

.quotes h2{
    font-size: 40px;
    margin-bottom: 45px;
}

.quotes h2 ::after{
content: '';
width: 75px;
height: 3px;
border-radius: 3px;
background: rgb(23,11,37,26);
position: absolute;
bottom: -10px;
left : 30% ;
transform: translateX(-50%);
}

.quotes blockquote{
    font-size: 60px;
    min-height: 110px;
    font-family: 'Cormorant Garamond', serif;
    
}

.quotes blockquote ::before, .quotes blockquote ::after{
 content: ' " ';
}

.quotes span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
    font-family: 'Cormorant Garamond', serif;
    font-size: 35px;
}

.quotes span::before{
    content: '';
    width: 20px;
    height: 2px;
    background: rgb(23,124,229);
    position: absolute;
    top: 50%;
    left: -30px;
}

.quotes div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.quotes button {
    font-size: 30px;
    background: rgb(23, 124, 229);
    color: #fff;
    border-radius: 40px;
    border: 1px solid rgb(23, 124, 229);
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    cursor: pointer;
}

.quotes button img {
    width: 40px;
    margin-right: 10px;
}

.quotes button:nth-child(2) {
    background: transparent; 
    color: black;
}


@media (max-width: 768px) {
    .quotes {
        width: 80%; 
        padding: 10px; 
    }

    .quotes h2 {
        font-size: 30px; 
        margin-bottom: 30px; 
    }

    .quotes blockquote {
        font-size: 30px; 
        min-height: auto; 
        overflow: hidden;
    }

    .quotes span {
        font-size: 25px; 
    }

    .quotes button {
        font-size: 18px; 
        width: 140px; 
        height: 60px; 
        margin: 10px; 
        padding: 5px 10px; 
    }
}